<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513278837130-t55hg41m9cmiphfpcu9mjtn2qvln57bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513278837130-t55hg41m9cmiphfpcu9mjtn2qvln57bc</string>
	<key>API_KEY</key>
	<string>AIzaSyCMtbk7TakXoXetrN6YTaECouv6qr-r83w</string>
	<key>GCM_SENDER_ID</key>
	<string>513278837130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>taste-of-africa-ffb16</string>
	<key>STORAGE_BUCKET</key>
	<string>taste-of-africa-ffb16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513278837130:ios:477c4dc08362fe01e90873</string>
</dict>
</plist>